In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
import pandas as pd
import seaborn as sns

In [20]:
# url = 'https://gist.githubusercontent.com/attila5287/3e9ca129a6b29b0d91c4fc786434f1cb/raw/b84a2d1b65ee3d01f94f4a2fc0d6fcbb9fe00e91/currency.csv'
url = 'https://gist.githubusercontent.com/attila5287/d61f5d3ecab4a9170dc5e78c81dec14d/raw/6956d45832acb3518c2747fd73bd044bd50eb475/usd.csv'

In [21]:
df = pd.read_csv(url)
df.columns
df.dtypes
df.head()
df

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')

LOCATION       object
INDICATOR      object
SUBJECT        object
MEASURE        object
FREQUENCY      object
TIME            int64
Value         float64
Flag Codes    float64
dtype: object

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0      AUS      EXCH     TOT  NATUSD         A  1950  0.892857         NaN
1      AUS      EXCH     TOT  NATUSD         A  1951  0.892857         NaN
2      AUS      EXCH     TOT  NATUSD         A  1952  0.892857         NaN
3      AUS      EXCH     TOT  NATUSD         A  1953  0.892857         NaN
4      AUS      EXCH     TOT  NATUSD         A  1954  0.892857         NaN

     LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value  Flag Codes
0         AUS      EXCH     TOT  NATUSD         A  1950  0.892857         NaN
1         AUS      EXCH     TOT  NATUSD         A  1951  0.892857         NaN
2         AUS      EXCH     TOT  NATUSD         A  1952  0.892857         NaN
3         AUS      EXCH     TOT  NATUSD         A  1953  0.892857         NaN
4         AUS      EXCH     TOT  NATUSD         A  1954  0.892857         NaN
...       ...       ...     ...     ...       ...   ...       ...         ...
3784      SGP      EXCH     TOT  NATUSD         A  2017  1.380925         NaN
3785      SGP      EXCH     TOT  NATUSD         A  2018  1.348842         NaN
3786      SGP      EXCH     TOT  NATUSD         A  2019  1.364158         NaN
3787      SGP      EXCH     TOT  NATUSD         A  2020  1.379742         NaN
3788      SGP      EXCH     TOT  NATUSD         A  2021  1.343483         NaN

[3789 rows x 8 columns]

In [22]:
countries = df['LOCATION']
countries.unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'CHN', 'COL', 'EST', 'IND',
       'IDN', 'ISR', 'RUS', 'SVN', 'ZAF', 'DEW', 'LVA', 'LTU', 'SAU',
       'EA19', 'ARG', 'CRI', 'BGR', 'HRV', 'CYP', 'MLT', 'ROU', 'MKD',
       'MDG', 'MAR', 'ZMB', 'SRB', 'HKG', 'EU27_2020', 'ALB', 'SGP'],
      dtype=object)

In [23]:
df = df[['LOCATION', 'TIME', 'Value', ]]

In [24]:
df.groupby(['LOCATION']).min()

          TIME      Value
LOCATION
ALB       1992  75.032500
ARG       1962   0.000000
AUS       1950   0.696666
AUT       1950   0.679923
BEL       1950   0.679923
...        ...        ...
SWE       1950   4.152192
TUR       1950   0.000005
USA       1950   1.000000
ZAF       1950   0.679477
ZMB       1950   0.000643

[62 rows x 2 columns]

In [27]:
for country in list(df['LOCATION'].unique()):
    pass
#     country
    df.loc[df['LOCATION']==country]

   LOCATION  TIME     Value
0       AUS  1950  0.892857
1       AUS  1951  0.892857
2       AUS  1952  0.892857
3       AUS  1953  0.892857
4       AUS  1954  0.892857
..      ...   ...       ...
67      AUS  2017  1.304758
68      AUS  2018  1.338412
69      AUS  2019  1.438507
70      AUS  2020  1.453085
71      AUS  2021  1.331224

[72 rows x 3 columns]

    LOCATION  TIME     Value
72       AUT  1950  1.453166
73       AUT  1951  1.552146
74       AUT  1952  1.552146
75       AUT  1953  1.774235
76       AUT  1954  1.889494
..       ...   ...       ...
139      AUT  2017  0.885206
140      AUT  2018  0.846773
141      AUT  2019  0.893276
142      AUT  2020  0.875506
143      AUT  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
144      BEL  1950  1.239468
145      BEL  1951  1.239468
146      BEL  1952  1.239468
147      BEL  1953  1.239468
148      BEL  1954  1.239468
..       ...   ...       ...
211      BEL  2017  0.885206
212      BEL  2018  0.846773
213      BEL  2019  0.893276
214      BEL  2020  0.875506
215      BEL  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
216      CAN  1950  1.089000
217      CAN  1951  1.053000
218      CAN  1952  0.979000
219      CAN  1953  0.983000
220      CAN  1954  0.973000
..       ...   ...       ...
283      CAN  2017  1.297936
284      CAN  2018  1.295818
285      CAN  2019  1.326793
286      CAN  2020  1.341153
287      CAN  2021  1.253877

[72 rows x 3 columns]

    LOCATION  TIME      Value
288      CZE  1990  21.145000
289      CZE  1991  27.920000
290      CZE  1992  28.370000
291      CZE  1993  29.152833
292      CZE  1994  28.785083
293      CZE  1995  26.540667
294      CZE  1996  27.144917
295      CZE  1997  31.698417
296      CZE  1998  32.281167
297      CZE  1999  34.569250
298      CZE  2000  38.598417
299      CZE  2001  38.035328
300      CZE  2002  32.738518
301      CZE  2003  28.209000
302      CZE  2004  25.699750
303      CZE  2005  23.957417
304      CZE  2006  22.595583
305      CZE  2007  20.293667
306      CZE  2008  17.071667
307      CZE  2009  19.063000
308      CZE  2010  19.098250
309      CZE  2011  17.695917
310      CZE  2012  19.577500
311      CZE  2013  19.570583
312      CZE  2014  20.757500
313      CZE  2015  24.598750
314      CZE  2016  24.439917
315      CZE  2017  23.376333
316      CZE  2018  21.729917
317      CZE  2019  22.932250
318      CZE  2020  23.210250
319      CZE  2021  21.678167

    LOCATION  TIME     Value
320      DNK  1950  6.907140
321      DNK  1951  6.907140
322      DNK  1952  6.907140
323      DNK  1953  6.907140
324      DNK  1954  6.907140
..       ...   ...       ...
387      DNK  2017  6.602893
388      DNK  2018  6.314619
389      DNK  2019  6.669447
390      DNK  2020  6.542152
391      DNK  2021  6.287136

[72 rows x 3 columns]

    LOCATION  TIME     Value
392      FIN  1950  0.388514
393      FIN  1951  0.386832
394      FIN  1952  0.386832
395      FIN  1953  0.386832
396      FIN  1954  0.386832
..       ...   ...       ...
459      FIN  2017  0.885206
460      FIN  2018  0.846773
461      FIN  2019  0.893276
462      FIN  2020  0.875506
463      FIN  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
464      FRA  1950  0.533084
465      FRA  1951  0.533511
466      FRA  1952  0.533526
467      FRA  1953  0.533511
468      FRA  1954  0.533526
..       ...   ...       ...
531      FRA  2017  0.885206
532      FRA  2018  0.846773
533      FRA  2019  0.893276
534      FRA  2020  0.875506
535      FRA  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
536      DEU  1950  2.144861
537      DEU  1951  2.144861
538      DEU  1952  2.144861
539      DEU  1953  2.147426
540      DEU  1954  2.147426
..       ...   ...       ...
603      DEU  2017  0.885206
604      DEU  2018  0.846773
605      DEU  2019  0.893276
606      DEU  2020  0.875506
607      DEU  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
608      GRC  1950  0.044020
609      GRC  1951  0.044020
610      GRC  1952  0.044020
611      GRC  1953  0.077300
612      GRC  1954  0.088042
..       ...   ...       ...
675      GRC  2017  0.885206
676      GRC  2018  0.846773
677      GRC  2019  0.893276
678      GRC  2020  0.875506
679      GRC  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME       Value
680      HUN  1968   60.000000
681      HUN  1969   60.000000
682      HUN  1970   60.000000
683      HUN  1971   59.821617
684      HUN  1972   55.260000
685      HUN  1973   48.966225
686      HUN  1974   46.752400
687      HUN  1975   43.971383
688      HUN  1976   41.575267
689      HUN  1977   40.960750
690      HUN  1978   37.911350
691      HUN  1979   35.578000
692      HUN  1980   32.532283
693      HUN  1981   34.314292
694      HUN  1982   36.630550
695      HUN  1983   42.671150
696      HUN  1984   48.042208
697      HUN  1985   50.119400
698      HUN  1986   45.832150
699      HUN  1987   46.970542
700      HUN  1988   50.413208
701      HUN  1989   59.066342
702      HUN  1990   63.205867
703      HUN  1991   74.735383
704      HUN  1992   78.988392
705      HUN  1993   91.933183
706      HUN  1994  105.160458
707      HUN  1995  125.681425
708      HUN  1996  152.646667
709      HUN  1997  186.789167
710      HUN  1998  214.401667
711      HUN  1999  237.145833
712      HUN  2000  282.179167
713      HUN  2001  286.490000
714      HUN  2002  257.886667
715      HUN  2003  224.306667
716      HUN  2004  202.745833
717      HUN  2005  199.582500
718      HUN  2006  210.390000
719      HUN  2007  183.625833
720      HUN  2008  172.113333
721      HUN  2009  202.341667
722      HUN  2010  207.944167
723      HUN  2011  201.055000
724      HUN  2012  225.104167
725      HUN  2013  223.695000
726      HUN  2014  232.601667
727      HUN  2015  279.332500
728      HUN  2016  281.523333
729      HUN  2017  274.433333
730      HUN  2018  270.211667
731      HUN  2019  290.660000
732      HUN  2020  307.996667
733      HUN  2021  303.140833

    LOCATION  TIME       Value
734      ISL  1950    0.162900
735      ISL  1951    0.162900
736      ISL  1952    0.162900
737      ISL  1953    0.162900
738      ISL  1954    0.162900
..       ...   ...         ...
801      ISL  2017  106.839572
802      ISL  2018  108.300176
803      ISL  2019  122.606774
804      ISL  2020  135.421712
805      ISL  2021  126.988860

[72 rows x 3 columns]

    LOCATION  TIME     Value
806      IRL  1950  0.453478
807      IRL  1951  0.453478
808      IRL  1952  0.453478
809      IRL  1953  0.453478
810      IRL  1954  0.453478
..       ...   ...       ...
873      IRL  2017  0.885206
874      IRL  2018  0.846773
875      IRL  2019  0.893276
876      IRL  2020  0.875506
877      IRL  2021  0.845494

[72 rows x 3 columns]

    LOCATION  TIME     Value
878      ITA  1950  0.322584
879      ITA  1951  0.322786
880      ITA  1952  0.322786
881      ITA  1953  0.322786
882      ITA  1954  0.322786
..       ...   ...       ...
945      ITA  2017  0.885206
946      ITA  2018  0.846773
947      ITA  2019  0.893276
948      ITA  2020  0.875506
949      ITA  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME       Value
950       JPN  1950  361.100000
951       JPN  1951  361.100000
952       JPN  1952  361.100000
953       JPN  1953  360.000000
954       JPN  1954  360.000000
...       ...   ...         ...
1017      JPN  2017  112.166141
1018      JPN  2018  110.423179
1019      JPN  2019  109.009666
1020      JPN  2020  106.774582
1021      JPN  2021  109.754324

[72 rows x 3 columns]

     LOCATION  TIME        Value
1022      KOR  1950     2.500000
1023      KOR  1951     6.000000
1024      KOR  1952     6.000000
1025      KOR  1953    18.000000
1026      KOR  1954    18.000000
...       ...   ...          ...
1089      KOR  2017  1131.000833
1090      KOR  2018  1100.163333
1091      KOR  2019  1165.357500
1092      KOR  2020  1180.265833
1093      KOR  2021  1143.896667

[72 rows x 3 columns]

     LOCATION  TIME     Value
1094      LUX  1950  1.239468
1095      LUX  1951  1.239468
1096      LUX  1952  1.239468
1097      LUX  1953  1.239468
1098      LUX  1954  1.239468
...       ...   ...       ...
1161      LUX  2017  0.885206
1162      LUX  2018  0.846773
1163      LUX  2019  0.893276
1164      LUX  2020  0.875506
1165      LUX  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME      Value
1166      MEX  1950   0.008650
1167      MEX  1951   0.008650
1168      MEX  1952   0.008650
1169      MEX  1953   0.008650
1170      MEX  1954   0.012500
...       ...   ...        ...
1233      MEX  2017  18.926517
1234      MEX  2018  19.244342
1235      MEX  2019  19.263633
1236      MEX  2020  21.485608
1237      MEX  2021  20.272408

[72 rows x 3 columns]

     LOCATION  TIME     Value
1238      NLD  1950  1.724365
1239      NLD  1951  1.724365
1240      NLD  1952  1.724365
1241      NLD  1953  1.724365
1242      NLD  1954  1.724365
...       ...   ...       ...
1305      NLD  2017  0.885206
1306      NLD  2018  0.846773
1307      NLD  2019  0.893276
1308      NLD  2020  0.875506
1309      NLD  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME     Value
1310      NZL  1950  0.714288
1311      NZL  1951  0.714288
1312      NZL  1952  0.714288
1313      NZL  1953  0.714288
1314      NZL  1954  0.714288
...       ...   ...       ...
1377      NZL  2017  1.407408
1378      NZL  2018  1.445258
1379      NZL  2019  1.517875
1380      NZL  2020  1.542058
1381      NZL  2021  1.413800

[72 rows x 3 columns]

     LOCATION  TIME     Value
1382      NOR  1950  7.142860
1383      NOR  1951  7.142860
1384      NOR  1952  7.142860
1385      NOR  1953  7.142860
1386      NOR  1954  7.142860
...       ...   ...       ...
1449      NOR  2017  8.271667
1450      NOR  2018  8.132500
1451      NOR  2019  8.800000
1452      NOR  2020  9.415833
1453      NOR  2021  8.590000

[72 rows x 3 columns]

     LOCATION  TIME     Value
1454      POL  1950  0.000400
1455      POL  1951  0.000400
1456      POL  1952  0.000400
1457      POL  1953  0.000400
1458      POL  1954  0.000400
...       ...   ...       ...
1521      POL  2017  3.779333
1522      POL  2018  3.611717
1523      POL  2019  3.839375
1524      POL  2020  3.899742
1525      POL  2021  3.861917

[72 rows x 3 columns]

     LOCATION  TIME     Value
1526      PRT  1950  0.143404
1527      PRT  1951  0.143404
1528      PRT  1952  0.143404
1529      PRT  1953  0.143404
1530      PRT  1954  0.143404
...       ...   ...       ...
1593      PRT  2017  0.885206
1594      PRT  2018  0.846773
1595      PRT  2019  0.893276
1596      PRT  2020  0.875506
1597      PRT  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME     Value
1598      SVK  1993  1.021363
1599      SVK  1994  1.063694
1600      SVK  1995  0.986305
1601      SVK  1996  1.017518
1602      SVK  1997  1.115852
1603      SVK  1998  1.169535
1604      SVK  1999  1.372995
1605      SVK  2000  1.528088
1606      SVK  2001  1.605086
1607      SVK  2002  1.504572
1608      SVK  2003  1.220637
1609      SVK  2004  1.070733
1610      SVK  2005  1.029617
1611      SVK  2006  0.985768
1612      SVK  2007  0.819702
1613      SVK  2008  0.709069
1614      SVK  2009  0.716958
1615      SVK  2010  0.754309
1616      SVK  2011  0.718414
1617      SVK  2012  0.778338
1618      SVK  2013  0.752945
1619      SVK  2014  0.752728
1620      SVK  2015  0.901296
1621      SVK  2016  0.903421
1622      SVK  2017  0.885206
1623      SVK  2018  0.846773
1624      SVK  2019  0.893276
1625      SVK  2020  0.875506
1626      SVK  2021  0.845494

     LOCATION  TIME     Value
1627      ESP  1950  0.239203
1628      ESP  1951  0.238301
1629      ESP  1952  0.238301
1630      ESP  1953  0.238301
1631      ESP  1954  0.234094
...       ...   ...       ...
1694      ESP  2017  0.885206
1695      ESP  2018  0.846773
1696      ESP  2019  0.893276
1697      ESP  2020  0.875506
1698      ESP  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME     Value
1699      SWE  1950  5.172771
1700      SWE  1951  5.173210
1701      SWE  1952  5.173210
1702      SWE  1953  5.173210
1703      SWE  1954  5.173210
...       ...   ...       ...
1766      SWE  2017  8.548861
1767      SWE  2018  8.692518
1768      SWE  2019  9.458349
1769      SWE  2020  9.210309
1770      SWE  2021  8.576567

[72 rows x 3 columns]

     LOCATION  TIME     Value
1771      CHE  1950  4.372950
1772      CHE  1951  4.372950
1773      CHE  1952  4.372950
1774      CHE  1953  4.372950
1775      CHE  1954  4.372950
...       ...   ...       ...
1838      CHE  2017  0.984692
1839      CHE  2018  0.977892
1840      CHE  2019  0.993709
1841      CHE  2020  0.938965
1842      CHE  2021  0.913949

[72 rows x 3 columns]

     LOCATION  TIME     Value
1843      TUR  1950  2.800000
1844      TUR  1951  2.800000
1845      TUR  1952  2.800000
1846      TUR  1953  2.800000
1847      TUR  1954  2.800000
...       ...   ...       ...
1909      TUR  2016  3.020135
1910      TUR  2017  3.648133
1911      TUR  2018  4.828370
1912      TUR  2019  5.673819
1913      TUR  2020  7.008605

[71 rows x 3 columns]

     LOCATION  TIME     Value
1914      GBR  1950  0.357143
1915      GBR  1951  0.357143
1916      GBR  1952  0.357143
1917      GBR  1953  0.357143
1918      GBR  1954  0.357143
...       ...   ...       ...
1981      GBR  2017  0.776977
1982      GBR  2018  0.749532
1983      GBR  2019  0.783445
1984      GBR  2020  0.780000
1985      GBR  2021  0.727065

[72 rows x 3 columns]

     LOCATION  TIME  Value
1986      USA  1950    1.0
1987      USA  1951    1.0
1988      USA  1952    1.0
1989      USA  1953    1.0
1990      USA  1954    1.0
...       ...   ...    ...
2053      USA  2017    1.0
2054      USA  2018    1.0
2055      USA  2019    1.0
2056      USA  2020    1.0
2057      USA  2021    1.0

[72 rows x 3 columns]

     LOCATION  TIME     Value
2058      BRA  1950  0.000000
2059      BRA  1951  0.000000
2060      BRA  1952  0.000000
2061      BRA  1953  0.000000
2062      BRA  1954  0.000000
...       ...   ...       ...
2125      BRA  2017  3.191389
2126      BRA  2018  3.653825
2127      BRA  2019  3.944471
2128      BRA  2020  5.155179
2129      BRA  2021  5.394401

[72 rows x 3 columns]

     LOCATION  TIME       Value
2130      CHL  1950    0.000048
2131      CHL  1951    0.000056
2132      CHL  1952    0.000062
2133      CHL  1953    0.000071
2134      CHL  1954    0.000092
...       ...   ...         ...
2197      CHL  2017  648.833793
2198      CHL  2018  641.276813
2199      CHL  2019  702.897423
2200      CHL  2020  792.727206
2201      CHL  2021  758.955379

[72 rows x 3 columns]

     LOCATION  TIME     Value
2202      CHN  1957  2.461809
2203      CHN  1958  2.461809
2204      CHN  1959  2.461809
2205      CHN  1960  2.461809
2206      CHN  1961  2.461809
...       ...   ...       ...
2262      CHN  2017  6.758755
2263      CHN  2018  6.615957
2264      CHN  2019  6.908385
2265      CHN  2020  6.900767
2266      CHN  2021  6.448975

[65 rows x 3 columns]

     LOCATION  TIME        Value
2267      COL  1950     1.960000
2268      COL  1951     2.400000
2269      COL  1952     2.510000
2270      COL  1953     2.510000
2271      COL  1954     2.510000
...       ...   ...          ...
2334      COL  2017  2951.327402
2335      COL  2018  2955.703970
2336      COL  2019  3280.831631
2337      COL  2020  3694.854072
2338      COL  2021  3743.589819

[72 rows x 3 columns]

     LOCATION  TIME     Value
2339      EST  1993  0.845088
2340      EST  1994  0.830292
2341      EST  1995  0.732731
2342      EST  1996  0.769368
2343      EST  1997  0.887206
2344      EST  1998  0.899535
2345      EST  1999  0.938069
2346      EST  2000  1.084494
2347      EST  2001  1.117052
2348      EST  2002  1.061687
2349      EST  2003  0.885586
2350      EST  2004  0.805003
2351      EST  2005  0.804251
2352      EST  2006  0.796690
2353      EST  2007  0.730756
2354      EST  2008  0.683499
2355      EST  2009  0.719481
2356      EST  2010  0.754595
2357      EST  2011  0.718414
2358      EST  2012  0.778338
2359      EST  2013  0.752945
2360      EST  2014  0.752728
2361      EST  2015  0.901296
2362      EST  2016  0.903421
2363      EST  2017  0.885206
2364      EST  2018  0.846773
2365      EST  2019  0.893276
2366      EST  2020  0.875506
2367      EST  2021  0.845494

     LOCATION  TIME      Value
2368      IND  1950   4.761900
2369      IND  1951   4.761900
2370      IND  1952   4.761900
2371      IND  1953   4.761900
2372      IND  1954   4.761900
...       ...   ...        ...
2435      IND  2017  65.121569
2436      IND  2018  68.389467
2437      IND  2019  70.420341
2438      IND  2020  74.099567
2439      IND  2021  73.931909

[72 rows x 3 columns]

     LOCATION  TIME         Value
2440      IDN  1967    149.583333
2441      IDN  1968    296.291667
2442      IDN  1969    326.000000
2443      IDN  1970    362.833333
2444      IDN  1971    391.875000
2445      IDN  1972    415.000000
2446      IDN  1973    415.000000
2447      IDN  1974    415.000000
2448      IDN  1975    415.000000
2449      IDN  1976    415.000000
2450      IDN  1977    415.000000
2451      IDN  1978    442.045417
2452      IDN  1979    623.055500
2453      IDN  1980    626.994000
2454      IDN  1981    631.756667
2455      IDN  1982    661.420750
2456      IDN  1983    909.264833
2457      IDN  1984   1025.944833
2458      IDN  1985   1110.580000
2459      IDN  1986   1282.560000
2460      IDN  1987   1643.848333
2461      IDN  1988   1685.704167
2462      IDN  1989   1770.059167
2463      IDN  1990   1842.813333
2464      IDN  1991   1950.317500
2465      IDN  1992   2029.920833
2466      IDN  1993   2087.103867
2467      IDN  1994   2160.753675
2468      IDN  1995   2248.607975
2469      IDN  1996   2342.296292
2470      IDN  1997   2909.380000
2471      IDN  1998  10013.622500
2472      IDN  1999   7855.150000
2473      IDN  2000   8421.775000
2474      IDN  2001  10260.850000
2475      IDN  2002   9311.191667
2476      IDN  2003   8577.133333
2477      IDN  2004   8938.850000
2478      IDN  2005   9704.741667
2479      IDN  2006   9159.316667
2480      IDN  2007   9141.000000
2481      IDN  2008   9698.962500
2482      IDN  2009  10389.937500
2483      IDN  2010   9090.433333
2484      IDN  2011   8770.433333
2485      IDN  2012   9386.629167
2486      IDN  2013  10461.240000
2487      IDN  2014  11865.211296
2488      IDN  2015  13389.412937
2489      IDN  2016  13308.326802
2490      IDN  2017  13380.833879
2491      IDN  2018  14236.938773
2492      IDN  2019  14147.671361
2493      IDN  2020  14582.203468
2494      IDN  2021  14308.143901

     LOCATION  TIME     Value
2495      ISR  1950  0.000036
2496      ISR  1951  0.000036
2497      ISR  1952  0.000036
2498      ISR  1953  0.000100
2499      ISR  1954  0.000180
...       ...   ...       ...
2562      ISR  2017  3.599556
2563      ISR  2018  3.590558
2564      ISR  2019  3.564527
2565      ISR  2020  3.442406
2566      ISR  2021  3.230198

[72 rows x 3 columns]

     LOCATION  TIME      Value
2567      RUS  1993   0.991667
2568      RUS  1994   2.190750
2569      RUS  1995   4.559150
2570      RUS  1996   5.120833
2571      RUS  1997   5.784833
2572      RUS  1998   9.705083
2573      RUS  1999  24.619900
2574      RUS  2000  28.129167
2575      RUS  2001  29.168525
2576      RUS  2002  31.348483
2577      RUS  2003  30.692025
2578      RUS  2004  28.813742
2579      RUS  2005  28.284442
2580      RUS  2006  27.190958
2581      RUS  2007  25.580845
2582      RUS  2008  24.852875
2583      RUS  2009  31.740358
2584      RUS  2010  30.367915
2585      RUS  2011  29.382341
2586      RUS  2012  30.839831
2587      RUS  2013  31.837144
2588      RUS  2014  38.378207
2589      RUS  2015  60.937650
2590      RUS  2016  67.055933
2591      RUS  2017  58.342801
2592      RUS  2018  62.668133
2593      RUS  2019  64.737658
2594      RUS  2020  72.104908
2595      RUS  2021  73.654350

     LOCATION  TIME     Value
2596      SVN  1991  0.115053
2597      SVN  1992  0.339205
2598      SVN  1993  0.472550
2599      SVN  1994  0.537509
2600      SVN  1995  0.494569
2601      SVN  1996  0.564865
2602      SVN  1997  0.666368
2603      SVN  1998  0.693266
2604      SVN  1999  0.758509
2605      SVN  2000  0.929127
2606      SVN  2001  1.012973
2607      SVN  2002  1.002538
2608      SVN  2003  0.864270
2609      SVN  2004  0.802792
2610      SVN  2005  0.804146
2611      SVN  2006  0.797147
2612      SVN  2007  0.729672
2613      SVN  2008  0.679923
2614      SVN  2009  0.716958
2615      SVN  2010  0.754309
2616      SVN  2011  0.718414
2617      SVN  2012  0.778338
2618      SVN  2013  0.752945
2619      SVN  2014  0.752728
2620      SVN  2015  0.901296
2621      SVN  2016  0.903421
2622      SVN  2017  0.885206
2623      SVN  2018  0.846773
2624      SVN  2019  0.893276
2625      SVN  2020  0.875506
2626      SVN  2021  0.845494

     LOCATION  TIME      Value
2627      ZAF  1950   0.714286
2628      ZAF  1951   0.714286
2629      ZAF  1952   0.714286
2630      ZAF  1953   0.714286
2631      ZAF  1954   0.714286
...       ...   ...        ...
2694      ZAF  2017  13.323801
2695      ZAF  2018  13.233926
2696      ZAF  2019  14.448427
2697      ZAF  2020  16.459105
2698      ZAF  2021  14.778678

[72 rows x 3 columns]

     LOCATION  TIME     Value
2699      DEW  1960  2.147426
2700      DEW  1961  2.062209
2701      DEW  1962  2.045168
2702      DEW  1963  2.045168
2703      DEW  1964  2.045168
2704      DEW  1965  2.045168
2705      DEW  1966  2.045168
2706      DEW  1967  2.045168
2707      DEW  1968  2.045168
2708      DEW  1969  2.016193
2709      DEW  1970  1.871328
2710      DEW  1971  1.784813
2711      DEW  1972  1.630326
2712      DEW  1973  1.366479
2713      DEW  1974  1.323096
2714      DEW  1975  1.257926
2715      DEW  1976  1.287433
2716      DEW  1977  1.187312
2717      DEW  1978  1.026996
2718      DEW  1979  0.937137
2719      DEW  1980  0.929360
2720      DEW  1981  1.155520
2721      DEW  1982  1.240696
2722      DEW  1983  1.305461
2723      DEW  1984  1.455106
2724      DEW  1985  1.505228
2725      DEW  1986  1.110260
2726      DEW  1987  0.918991
2727      DEW  1988  0.897946
2728      DEW  1989  0.961249
2729      DEW  1990  0.826110
2730      DEW  1991  0.848509
2731      DEW  1992  0.798459
2732      DEW  1993  0.845329
2733      DEW  1994  0.829719
2734      DEW  1995  0.732748

     LOCATION  TIME     Value
2735      LVA  1992  1.047898
2736      LVA  1993  0.960913
2737      LVA  1994  0.796452
2738      LVA  1995  0.750683
2739      LVA  1996  0.783647
2740      LVA  1997  0.826570
2741      LVA  1998  0.839257
2742      LVA  1999  0.832617
2743      LVA  2000  0.862972
2744      LVA  2001  0.893445
2745      LVA  2002  0.879607
2746      LVA  2003  0.813136
2747      LVA  2004  0.768683
2748      LVA  2005  0.803519
2749      LVA  2006  0.797389
2750      LVA  2007  0.731060
2751      LVA  2008  0.684140
2752      LVA  2009  0.719333
2753      LVA  2010  0.754798
2754      LVA  2011  0.713191
2755      LVA  2012  0.778133
2756      LVA  2013  0.753256
2757      LVA  2014  0.752728
2758      LVA  2015  0.901296
2759      LVA  2016  0.903421
2760      LVA  2017  0.885206
2761      LVA  2018  0.846773
2762      LVA  2019  0.893276
2763      LVA  2020  0.875506
2764      LVA  2021  0.845494

     LOCATION  TIME     Value
2765      LTU  1992  0.513424
2766      LTU  1993  1.258128
2767      LTU  1994  1.152036
2768      LTU  1995  1.158480
2769      LTU  1996  1.158480
2770      LTU  1997  1.158480
2771      LTU  1998  1.158480
2772      LTU  1999  1.158480
2773      LTU  2000  1.158480
2774      LTU  2001  1.158480
2775      LTU  2002  1.064921
2776      LTU  2003  0.886488
2777      LTU  2004  0.805315
2778      LTU  2005  0.803413
2779      LTU  2006  0.797099
2780      LTU  2007  0.730921
2781      LTU  2008  0.682656
2782      LTU  2009  0.719426
2783      LTU  2010  0.754846
2784      LTU  2011  0.718576
2785      LTU  2012  0.778004
2786      LTU  2013  0.753304
2787      LTU  2014  0.753097
2788      LTU  2015  0.901296
2789      LTU  2016  0.903421
2790      LTU  2017  0.885206
2791      LTU  2018  0.846773
2792      LTU  2019  0.893276
2793      LTU  2020  0.875506
2794      LTU  2021  0.845494

     LOCATION  TIME  Value
2795      SAU  1952   3.75
2796      SAU  1953   3.75
2797      SAU  1954   3.75
2798      SAU  1955   3.75
2799      SAU  1956   3.75
...       ...   ...    ...
2860      SAU  2017   3.75
2861      SAU  2018   3.75
2862      SAU  2019   3.75
2863      SAU  2020   3.75
2864      SAU  2021   3.75

[70 rows x 3 columns]

     LOCATION  TIME     Value
2865     EA19  1995  0.764520
2866     EA19  1996  0.787557
2867     EA19  1997  0.881803
2868     EA19  1998  0.891989
2869     EA19  1999  0.938283
2870     EA19  2000  1.082705
2871     EA19  2001  1.116533
2872     EA19  2002  1.057559
2873     EA19  2003  0.884048
2874     EA19  2004  0.803922
2875     EA19  2005  0.803800
2876     EA19  2006  0.796433
2877     EA19  2007  0.729672
2878     EA19  2008  0.679923
2879     EA19  2009  0.716958
2880     EA19  2010  0.754309
2881     EA19  2011  0.718414
2882     EA19  2012  0.778338
2883     EA19  2013  0.752945
2884     EA19  2014  0.752728
2885     EA19  2015  0.901296
2886     EA19  2016  0.903421
2887     EA19  2017  0.885206
2888     EA19  2018  0.846773
2889     EA19  2019  0.893276
2890     EA19  2020  0.875506
2891     EA19  2021  0.845494

     LOCATION  TIME      Value
2892      ARG  1962   0.000000
2893      ARG  1963   0.000000
2894      ARG  1964   0.000000
2895      ARG  1965   0.000000
2896      ARG  1966   0.000000
2897      ARG  1967   0.000000
2898      ARG  1968   0.000000
2899      ARG  1969   0.000000
2900      ARG  1970   0.000000
2901      ARG  1971   0.000000
2902      ARG  1972   0.000000
2903      ARG  1973   0.000000
2904      ARG  1974   0.000000
2905      ARG  1975   0.000000
2906      ARG  1976   0.000000
2907      ARG  1977   0.000000
2908      ARG  1978   0.000000
2909      ARG  1979   0.000000
2910      ARG  1980   0.000000
2911      ARG  1981   0.000000
2912      ARG  1982   0.000000
2913      ARG  1983   0.000001
2914      ARG  1984   0.000007
2915      ARG  1985   0.000060
2916      ARG  1986   0.000094
2917      ARG  1987   0.000214
2918      ARG  1988   0.000875
2919      ARG  1989   0.042334
2920      ARG  1990   0.487589
2921      ARG  1991   0.953554
2922      ARG  1992   0.990642
2923      ARG  1993   0.998946
2924      ARG  1994   0.999008
2925      ARG  1995   0.999750
2926      ARG  1996   0.999663
2927      ARG  1997   0.999500
2928      ARG  1998   0.999500
2929      ARG  1999   0.999500
2930      ARG  2000   0.999500
2931      ARG  2001   0.999500
2932      ARG  2002   3.063257
2933      ARG  2003   2.900629
2934      ARG  2004   2.923301
2935      ARG  2005   2.903658
2936      ARG  2006   3.054313
2937      ARG  2007   3.095649
2938      ARG  2008   3.144165
2939      ARG  2009   3.710107
2940      ARG  2010   3.896295
2941      ARG  2011   4.110140
2942      ARG  2012   4.536934
2943      ARG  2013   5.459353
2944      ARG  2014   8.075276
2945      ARG  2015   9.233186
2946      ARG  2016  14.758175
2947      ARG  2017  16.562707
2948      ARG  2018  28.094992
2949      ARG  2019  48.147892
2950      ARG  2020  70.539167
2951      ARG  2021  94.990742

     LOCATION  TIME       Value
2952      CRI  1950    5.615000
2953      CRI  1951    5.615000
2954      CRI  1952    5.615000
2955      CRI  1953    5.615000
2956      CRI  1954    5.615000
...       ...   ...         ...
3019      CRI  2017  567.513090
3020      CRI  2018  576.972501
3021      CRI  2019  587.294596
3022      CRI  2020  584.900855
3023      CRI  2021  620.784720

[72 rows x 3 columns]

     LOCATION  TIME     Value
3024      BGR  1953  0.001170
3025      BGR  1954  0.001170
3026      BGR  1955  0.001170
3027      BGR  1956  0.001170
3028      BGR  1957  0.001170
3029      BGR  1958  0.001170
3030      BGR  1959  0.001170
3031      BGR  1960  0.001170
3032      BGR  1961  0.001170
3033      BGR  1962  0.001170
3034      BGR  1963  0.001170
3035      BGR  1964  0.001170
3036      BGR  1965  0.001170
3037      BGR  1966  0.001170
3038      BGR  1967  0.001170
3039      BGR  1968  0.001170
3040      BGR  1969  0.001170
3041      BGR  1970  0.001170
3042      BGR  1971  0.001170
3043      BGR  1972  0.001080
3044      BGR  1973  0.000979
3045      BGR  1974  0.000970
3046      BGR  1985  0.001030
3047      BGR  1986  0.000940
3048      BGR  1987  0.000870
3049      BGR  1988  0.000830
3050      BGR  1989  0.000840
3051      BGR  1990  0.002190
3052      BGR  1991  0.017788
3053      BGR  1992  0.023341
3054      BGR  1993  0.027594
3055      BGR  1994  0.054134
3056      BGR  1995  0.067171
3057      BGR  1996  0.177889
3058      BGR  1997  1.681879
3059      BGR  1998  1.760358
3060      BGR  1999  1.836383
3061      BGR  2000  2.123275
3062      BGR  2001  2.184708
3063      BGR  2002  2.076975
3064      BGR  2003  1.732702
3065      BGR  2004  1.575109
3066      BGR  2005  1.574133
3067      BGR  2006  1.559267
3068      BGR  2007  1.429050
3069      BGR  2008  1.337117
3070      BGR  2009  1.406692
3071      BGR  2010  1.477392
3072      BGR  2011  1.406458
3073      BGR  2012  1.522050
3074      BGR  2013  1.473567
3075      BGR  2014  1.474183
3076      BGR  2015  1.764400
3077      BGR  2016  1.768042
3078      BGR  2017  1.735458
3079      BGR  2018  1.657042
3080      BGR  2019  1.747042
3081      BGR  2020  1.716333
3082      BGR  2021  1.653775

     LOCATION  TIME     Value
3083      HRV  1992  0.263298
3084      HRV  1993  3.579149
3085      HRV  1994  5.998011
3086      HRV  1995  5.230756
3087      HRV  1996  5.434161
3088      HRV  1997  6.160583
3089      HRV  1998  6.363286
3090      HRV  1999  7.111743
3091      HRV  2000  8.277666
3092      HRV  2001  8.341541
3093      HRV  2002  7.871683
3094      HRV  2003  6.704969
3095      HRV  2004  6.034341
3096      HRV  2005  5.949237
3097      HRV  2006  5.837793
3098      HRV  2007  5.364536
3099      HRV  2008  4.935040
3100      HRV  2009  5.283946
3101      HRV  2010  5.498011
3102      HRV  2011  5.343870
3103      HRV  2012  5.850292
3104      HRV  2013  5.704880
3105      HRV  2014  5.748165
3106      HRV  2015  6.858304
3107      HRV  2016  6.805990
3108      HRV  2017  6.623831
3109      HRV  2018  6.279025
3110      HRV  2019  6.622545
3111      HRV  2020  6.614056
3112      HRV  2021  6.360083

     LOCATION  TIME     Value
3113      CYP  1950  0.610215
3114      CYP  1951  0.610215
3115      CYP  1952  0.610215
3116      CYP  1953  0.610215
3117      CYP  1954  0.610215
...       ...   ...       ...
3180      CYP  2017  0.885206
3181      CYP  2018  0.846773
3182      CYP  2019  0.893276
3183      CYP  2020  0.875506
3184      CYP  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME     Value
3185      MLT  1950  0.831919
3186      MLT  1951  0.831919
3187      MLT  1952  0.831919
3188      MLT  1953  0.831919
3189      MLT  1954  0.831919
...       ...   ...       ...
3252      MLT  2017  0.885206
3253      MLT  2018  0.846773
3254      MLT  2019  0.893276
3255      MLT  2020  0.875506
3256      MLT  2021  0.845494

[72 rows x 3 columns]

     LOCATION  TIME     Value
3257      ROU  1957  0.000600
3258      ROU  1958  0.000600
3259      ROU  1959  0.000600
3260      ROU  1960  0.000600
3261      ROU  1961  0.000600
...       ...   ...       ...
3317      ROU  2017  4.052492
3318      ROU  2018  3.941617
3319      ROU  2019  4.237925
3320      ROU  2020  4.243992
3321      ROU  2021  4.160417

[65 rows x 3 columns]

     LOCATION  TIME      Value
3322      MKD  1994  43.263183
3323      MKD  1995  37.881758
3324      MKD  1996  39.981075
3325      MKD  1997  50.003550
3326      MKD  1998  54.461733
3327      MKD  1999  56.901828
3328      MKD  2000  65.903867
3329      MKD  2001  68.037133
3330      MKD  2002  64.349792
3331      MKD  2003  54.322258
3332      MKD  2004  49.409933
3333      MKD  2005  49.283683
3334      MKD  2006  48.801767
3335      MKD  2007  44.729817
3336      MKD  2008  41.867683
3337      MKD  2009  44.100575
3338      MKD  2010  46.485392
3339      MKD  2011  44.230825
3340      MKD  2012  47.890250
3341      MKD  2013  46.395342
3342      MKD  2014  46.437131
3343      MKD  2015  55.537075
3344      MKD  2016  55.731725
3345      MKD  2017  54.665458
3346      MKD  2018  52.107108
3347      MKD  2019  54.947200
3348      MKD  2020  54.144325
3349      MKD  2021  52.102158

     LOCATION  TIME        Value
3350      MDG  1950    34.968000
3351      MDG  1951    34.996000
3352      MDG  1952    34.997000
3353      MDG  1953    34.996000
3354      MDG  1954    34.997000
...       ...   ...          ...
3416      MDG  2016  3176.539167
3417      MDG  2017  3116.110000
3418      MDG  2018  3334.752255
3419      MDG  2019  3618.321858
3420      MDG  2020  3787.754058

[71 rows x 3 columns]

     LOCATION  TIME     Value
3421      MAR  1950  3.499000
3422      MAR  1951  3.500000
3423      MAR  1952  3.500000
3424      MAR  1953  3.500000
3425      MAR  1954  3.500000
...       ...   ...       ...
3487      MAR  2016  9.807476
3488      MAR  2017  9.691998
3489      MAR  2018  9.386102
3490      MAR  2019  9.617076
3491      MAR  2020  9.496847

[71 rows x 3 columns]

     LOCATION  TIME      Value
3492      ZMB  1950   0.714286
3493      ZMB  1951   0.714286
3494      ZMB  1952   0.714286
3495      ZMB  1953   0.714286
3496      ZMB  1954   0.714286
...       ...   ...        ...
3558      ZMB  2016  10.307500
3559      ZMB  2017   9.517500
3560      ZMB  2018  10.458333
3561      ZMB  2019  12.890000
3562      ZMB  2020  18.344093

[71 rows x 3 columns]

     LOCATION  TIME       Value
3563      SRB  1997    5.912300
3564      SRB  1998   10.030800
3565      SRB  1999   11.661500
3566      SRB  2000   63.165900
3567      SRB  2001   66.913660
3568      SRB  2002   64.405225
3569      SRB  2003   57.590042
3570      SRB  2004   58.375708
3571      SRB  2005   66.717825
3572      SRB  2006   67.155125
3573      SRB  2007   58.449567
3574      SRB  2008   55.729250
3575      SRB  2009   67.604933
3576      SRB  2010   77.722842
3577      SRB  2011   73.355433
3578      SRB  2012   87.958808
3579      SRB  2013   85.158842
3580      SRB  2014   88.405308
3581      SRB  2015  108.811425
3582      SRB  2016  111.277850
3583      SRB  2017  107.758850
3584      SRB  2018  100.175075
3585      SRB  2019  105.249558
3586      SRB  2020  103.163292
3587      SRB  2021   99.395942

     LOCATION  TIME     Value
3588      HKG  1950  5.714300
3589      HKG  1951  5.714300
3590      HKG  1952  5.714300
3591      HKG  1953  5.714300
3592      HKG  1954  5.714300
...       ...   ...       ...
3655      HKG  2017  7.793250
3656      HKG  2018  7.838500
3657      HKG  2019  7.835917
3658      HKG  2020  7.757250
3659      HKG  2021  7.773250

[72 rows x 3 columns]

       LOCATION  TIME     Value
3660  EU27_2020  1995  0.764520
3661  EU27_2020  1996  0.787557
3662  EU27_2020  1997  0.881803
3663  EU27_2020  1998  0.891989
3664  EU27_2020  1999  0.938283
3665  EU27_2020  2000  1.082705
3666  EU27_2020  2001  1.116533
3667  EU27_2020  2002  1.057559
3668  EU27_2020  2003  0.884048
3669  EU27_2020  2004  0.803922
3670  EU27_2020  2005  0.803800
3671  EU27_2020  2006  0.796433
3672  EU27_2020  2007  0.729672
3673  EU27_2020  2008  0.679923
3674  EU27_2020  2009  0.716958
3675  EU27_2020  2010  0.754309
3676  EU27_2020  2011  0.718414
3677  EU27_2020  2012  0.778338
3678  EU27_2020  2013  0.752945
3679  EU27_2020  2014  0.752728
3680  EU27_2020  2015  0.901296
3681  EU27_2020  2016  0.903421
3682  EU27_2020  2017  0.885206
3683  EU27_2020  2018  0.846773
3684  EU27_2020  2019  0.893276
3685  EU27_2020  2020  0.875506
3686  EU27_2020  2021  0.845494

     LOCATION  TIME       Value
3687      ALB  1992   75.032500
3688      ALB  1993  102.062500
3689      ALB  1994   94.623333
3690      ALB  1995   92.697500
3691      ALB  1996  104.498917
3692      ALB  1997  148.932917
3693      ALB  1998  150.633333
3694      ALB  1999  137.690583
3695      ALB  2000  143.709417
3696      ALB  2001  143.484833
3697      ALB  2002  140.154516
3698      ALB  2003  121.863250
3699      ALB  2004  102.780051
3700      ALB  2005   99.870254
3701      ALB  2006   98.103377
3702      ALB  2007   90.427894
3703      ALB  2008   83.894604
3704      ALB  2009   94.978120
3705      ALB  2010  103.936667
3706      ALB  2011  100.895833
3707      ALB  2012  108.184167
3708      ALB  2013  105.669167
3709      ALB  2014  105.480000
3710      ALB  2015  125.961667
3711      ALB  2016  124.142500
3712      ALB  2017  119.100000
3713      ALB  2018  107.989167
3714      ALB  2019  109.850833
3715      ALB  2020  108.650000
3716      ALB  2021  103.520000

     LOCATION  TIME     Value
3717      SGP  1950  3.061220
3718      SGP  1951  3.061220
3719      SGP  1952  3.061220
3720      SGP  1953  3.061220
3721      SGP  1954  3.061220
...       ...   ...       ...
3784      SGP  2017  1.380925
3785      SGP  2018  1.348842
3786      SGP  2019  1.364158
3787      SGP  2020  1.379742
3788      SGP  2021  1.343483

[72 rows x 3 columns]