In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
from requests import get

In [9]:
# url = 'https://www.rentdata.org/states/colorado/2021'
# url = 'https://www.nasdaq.com/market-activity/stocks/amzn/historical' 
# url = 'https://ycharts.com/companies/AMZN/price'
# url = 'https://markets.businessinsider.com/stocks/amzn-stock'
# url = 'https://www.barchart.com/stocks/quotes/AMZN/price-history/historical'
# url = 'https://seekingalpha.com/symbol/AMZN/earnings'
# url = 'https://marketchameleon.com/Overview/AMZN/DailyHistory/'
url = 'https://pandaforecast.com/stock_forecasts/forecast_amzn/for2024/'

In [73]:
soup = BeautifulSoup(requests.get(url).text, 'lxml')
stock_data = soup.find_all("table")
# len(stock_data)
table = stock_data[0]
thead = table.find_all('thead')[0]

In [141]:
d = {}
for header in thead.find_all('th'):
    pass
    column_name = header.text.replace('.','')\
                              .replace('%','')\
                              .replace(',','')\
                              .strip()
    d[column_name] = []
#     d

tbody = table.find_all('tbody')[0]

for row in tbody.find_all('tr'):
    pass
    cells = [ td for td in row.find_all('td')]
    cells = [ td.text for td in cells ]
    for td, column_name in zip(cells, d):
        pass
        d[column_name].append(td.replace(' ','')\
                                 .replace('%', '')
                             )
df = pd.DataFrame(d)
df

   Month   Target      Pes      Opt    Vol
0    Jan  4001.58  3701.46  4289.70  13.71
1    Feb  4379.73  4222.06  4563.68   7.49
2    Mar  4530.83  4225.00  4768.70  11.40
3    Apr  4265.78  3760.28  4553.72  17.42
4    May  4061.02  3707.71  4420.42  16.12
5    Jun  4341.23  3963.54  4647.29  14.71
6    Jul  3787.72  3605.91  4088.85  11.81
7    Aug  3884.31  3528.90  4012.49  12.05
8    Sep  3389.06  3261.97  3511.07   7.09
9    Oct  3434.81  3022.64  3687.27  18.02
10   Nov  3723.34  3388.24  4097.53  17.31
11   Dec  4248.33  3738.53  4566.95  18.14